body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.origin-nm{
    display: flex;
    background-repeat: no-repeat;
    margin: 7px;
  
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width image {
    width: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-border {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-img{
    width: 100%;
}
.Dream Big{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;

    margin-left: 5%;
    margin-right: 5%;
    padding-left:10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  
}
#stack-developers{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}